* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

head {
    font-size: 16px;
}

body, main{
    width: 100%;
    height: 100%;
    background-color: rgb(170, 170, 255);
}

header {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

h1 {
    font-size: 2.5rem;
}

span {
    color: rgb(128, 64, 0);
}

#form {
    margin: 5px 1% 0px 1%;
    width: 98%;
    display: grid;
    grid-template-areas:
    "divFilas      divColumnas   divGatos"
    "divCronometro inputIniciarJuego divVictorias";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10px;
    justify-items: center;
    align-items: center;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 2px -2px 2px;
}

.divFi {
    grid-area: divFilas;
}

.divCo {
    grid-area: divColumnas;
}

.divCr {
    grid-area: divCronometro;
}

div p{
    margin-bottom: 1px;
    font-weight: bold;
    font-size: 1.5rem;
}

.divGa {
    grid-area: divGatos;
}

.divGa p {
    font-size: 1.5rem;
}

input {
    width: 100px;
    font-size: 1.5rem;
}

#cronometro {
    padding: 10px 14px;
}

#botonIniciarJuego {
    padding: 10px 14px;
    background-color: rgb(0, 0, 255);
    border: 2px solid black;
    border-radius: 10px;
    font-size: 1.5rem;
    width: 170px;
    color: rgb(255, 255, 255);
    grid-area: inputIniciarJuego;
}

#botonIniciarJuego:hover {
    background-color: rgb(150, 150, 255);
    color: rgb(0, 0, 0);
}

#botonIniciarJuego:active {
    font-size: 1.4rem;
}

.divVi {
    grid-area: divVictorias;
}

.divVi p {
    font-size: 1.3rem;
}

.cartelInputs {
    color: rgb(15, 15, 240);
    background-color: rgb(240, 240, 255);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
}

.cartelDatos {
    font-weight: normal;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 255);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
}

#tablero {
    border: 1px solid rgb(0, 0, 0);
    margin: auto;
    user-select: none;
    font-weight: bold;
    box-shadow: 2px -2px 2px;
}

#cartelInicial {
    padding: 20px;
    margin: 15px 5%;
    width: 90%;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 2rem;
    box-shadow: 2px -2px 2px;
}


#bienvenida {
    margin-top: 20px;
    font-size: 1.5rem;
}

#consejosRandom {
    height: 100px;
    margin: 10px 1%;
    font-size: 2rem;
}

img{
    width: 100%;
}

/*--- clases para los casilleros ---*/

.casilleroOculto { /*Clase que viene por defecto en todos los casilleros*/
    height: 2rem;
    width: 2rem;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(127, 127, 127);
}

.visibleTexto {
    font-size: 1rem;
    height: 2rem;
    width: 2rem;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 255);
    transition: background-color 0.3s;
}

.colorVerde {
    color: rgb(0, 255, 0);
}

.colorAmarillo {
    color: rgb(255, 255, 0);
}

.colorRojo {
    color: rgb(255, 0, 0);
}

.textoOculto {
    font-size: 0px;
}

.colorPerdedorFondo {
    height: 2rem;
    width: 2rem;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 50, 50);
}

.colorGanadorFondo {
    height: 2rem;
    width: 2rem;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(0, 255, 0);
}

/*--- media queries ---*/

@media screen and (max-width: 837px){
    .divGa p {
        font-size: 1rem;
    }    

    #consejosRandom {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 565px){
    h1 {
        font-size: 2.1rem;
    }

    #form {
        row-gap: 5px;
    }

    div p {
        font-size: 1.1rem;
    }
    
    .divGa p {
        font-size: 0.7rem;
    }

    .divVi p {
        font-size: 0.9rem;
    }

    input {
        width: 80px;
        font-size: 1.4rem;
    }
    
    #cronometro {
        padding: 7px 5px;
    }

    #botonIniciarJuego {
        padding: 7px 1px;
        font-size: 1rem;
        width: 100px;
    }
    
    #botonIniciarJuego:active {
        font-size: 0.9rem;
    }

    #cartelInicial {
        font-size: 1.5rem;
    }
    
    #bienvenida {
        font-size: 1.2rem;
    }
    
    #consejosRandom {
        margin: 10px 1%;
        font-size: 1.2rem;
    }
    
    img{
        width: 100%;
    }

}

@media screen and (max-width: 402px){
    .divGa p {
        font-size: 0.6rem;
    }
}

@media screen and (min-width: 716px){
    td:hover {
        opacity: 0.2;
    }
}