* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

head {
    font-size: 16px;
}

body, main{
    width: 100%;
    height: 100%;
    background-color: rgb(170, 170, 255);
}

header {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

h1 {
    font-size: 2.5rem;
}

span {
    color: rgb(128, 64, 0);
}

#form * {
    font-size: 1.4rem;
}

#form {
    padding: 5px;
    margin: 15px 1vw;
    width: 98vw;
    display: flex;
    justify-content: space-evenly;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 2px -2px;
}

div p{
    margin-bottom: 1px;
    font-weight: bold;
}

input {
    width: 100px;
    background-color: rgb(0, 0, 255);
    border: 2px solid black;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

#botonIniciarJuego {
    background-color: rgb(0, 0, 255);
    border: 2px solid black;
    font-size: 1.5rem;
    width: 170px;
    color: rgb(255, 255, 255);
}

#botonIniciarJuego:hover {
    background-color: rgb(150, 150, 255);
    color: rgb(0, 0, 0);
}

#botonIniciarJuego:active {
    font-size: 1.4rem;
}

#tablero {
    border: 1px solid rgb(0, 0, 0);
    margin: auto;
    user-select: none;
    font-weight: bold;
    box-shadow: 2px -2px;
}

#cartelInicial {
    padding: 20px;
    margin: 15px 5vw;
    width: 90vw;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 2rem;
    box-shadow: 2px -2px;
}

#cartelInicial p{
    margin-top: 20px;
}

#bienvenida {
    font-size: 1.5rem;
}

#consejosRandom {
    margin: 10px auto;
    font-size: 2rem;
}

img{
    width: 100%;
}

/*--- clases para los casilleros ---*/

.casilleroOculto { /*Clase que viene por defecto en todos los casilleros*/
    height: 2rem;
    width: 2rem;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(127, 127, 127);
}

.visibleTexto {
    font-size: 1rem;
    height: 2rem;
    width: 2rem;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 255);
    transition: background-color 0.3s;
}

.colorVerde {
    color: rgb(0, 255, 0);
}

.colorAmarillo {
    color: rgb(255, 255, 0);
}

.colorRojo {
    color: rgb(255, 0, 0);
}

.textoOculto {
    font-size: 0px;
}

.colorPerdedorFondo {
    height: 2rem;
    width: 2rem;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 50, 50);
}

.colorGanadorFondo {
    height: 2rem;
    width: 2rem;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(0, 255, 0);
}

/*--- media queries ---*/

@media screen and (max-width: 471px){
    #form * {
        font-size: 0.7rem;
    }

    input {
        width: 50px;
        border-radius: 7px;
    }

    #botonIniciarJuego {
        font-size: 0.9rem;
        width: 90px;
    }

    #botonIniciarJuego:active {
        font-size: 0.8rem;
    }

    #cartelInicial {
        font-size: 1.4rem;
    }
    
    #bienvenida, #consejosRandom {
        font-size: 1rem;
    }
}

@media screen and (min-width: 471px) and (max-width: 658px){
    #form * {
        font-size: 1rem;
    }

    input {
        width: 80px;
    }

    #botonIniciarJuego {
        font-size: 1.1rem;
        width: 110px;
    }

    #botonIniciarJuego:active {
        font-size: 1rem;
    }

    #cartelInicial {
        font-size: 1.6rem;
    }
    
    #bienvenida, #consejosRandom {
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 716px){
    td:hover {
        opacity: 0.2;
    }
}